@model IEnumerable<WebApplicationMVCBatch3.Models.Students>

@{
    ViewData["Title"] = "GetStdBooks";
}

<h1>GetStdBooks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                BookName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SName)
            </td>
                <td>
                    <ul>
                        @foreach (var data in item.Books)
                        {
                            <li>
                                @data.SName
                            </li>
                        }
                    </ul>

                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
